{% extends 'Backoffice/base.html.twig' %}

{% block title %}{{ appName }} {{ appVersion }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('splash_screen') }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
{%  endblock %}

{% block body %}
    <div id="vue-app">
        <div class="splash-screen">
            {{ appName }}
            <span class="app-version">{{ appVersion }}</span>
        </div>
    </div>
{% endblock %}
